@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.main {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
}

.rightSide,
.leftSide {
    /*float: left;*/
    width: 100%;
}

.rightSide {
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    padding-top: 100px;
    padding-left: 100px;
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 68px;
}

.logo p {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.loginContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    color: #393939;
}

.desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #393939;
}

.input {
    padding-block: 10px;
    padding-left: 46px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.input::placeholder {
    color: #203060;
}

.inputs {
    width: 90%;
    margin-top: 40px;
}

.input label {
    width: 100%;
}

.rememberMe {
    display: flex;
    margin-top: 41px;
}

.rememberMe label {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    user-select: none;
}

.btnContainer {
    width: 90%;
    margin-top: 25px;
}

.button {
    cursor: pointer;
    width: 100%;
    padding-block: 10px;
    border-radius: 5px;
    background-color: #F35D5D;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

.circles {
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .content {
        padding-top: 50px;
        padding-left: 50px;
        /*background: red;*/
    }

    .logo p {
        font-size: 26px;
    }

    .title {
        font-size: 51px;
    }

    .desc {
        font-size: 25px;
    }
}